<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetDevShop - O petshop do dev</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
</head>
<body>
<header>
    <div class="container">
        <a href="/">PetDevShop</a>
        <form method="GET" action="/search">
            <input type="search" name="q" placeholder="Pesquise por raça" />
        </form>
    </div>
</header>
<nav>
    <ul>
        <li class="{{#data.menu.all}}active{{/data.menu.all}}"><a href="/">Todos</a></li>
        <li class="{{#data.menu.dog}}active{{/data.menu.dog}}"><a href="/dogs">Cachorros</a></li>
        <li class="{{#data.menu.cat}}active{{/data.menu.cat}}"><a href="/cats">Gatos</a></li>
        <li class="{{#data.menu.fish}}active{{/data.menu.fish}}"><a href="/fishes">Peixes</a></li>
    </ul>
</nav>